/* Style for labels */
.label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

/* Style for text fields */
.text-field {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-radius: 10px;
}

/* Style for buttons */
.button {
    -fx-background-color: #000133;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 20;
    -fx-padding: 7 22 7 22;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 5);
    -fx-cursor: hand;
}

.background {
    -fx-background-color:
        linear-gradient(to bottom, #5200AE, #4062BB);
}

/* Hovered button style */
.button:hover {
    -fx-background-color: #cc5500;
}

/* Pressed button style */
.button:pressed {
    -fx-background-color: #002b4d;
}